@charset "utf-8";
/* CSS Document */

/*  DESCENDANT SELECETORS ARE THE WORST
	KEEP SELECTORS SHORT 
	FOCUS KEY SELECTOR FIRST
	FAVOR CLASSES
*/

/*============================================================
>>> TABLE OF CONTENTS:
==============================================================
1.0 - Typography
	1.1 - Headings
	1.2 - Body Copy
	1.3 - Buttons 
2.0 - Navigation Menus
	2.1 - Main Menu
	2.2 - Footer Menu
3.0 - Content
	3.1 - Site Structure
	3.2 - Section 
	3.3 - Section
4.0 - Media
5.0 - Utility
	5.1 - Background Colors
	5.2 - Text Colors
	5.3 - Text Sizes
	5.4 - Alignments
===========================================================*/

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;	
	-ms-box-sizing: border-box;	
	-o-box-sizing: border-box;	
	box-sizing: border-box;	
}

html * {
  padding: 0;
  margin: 0;
}


/*==========================================================
1.0 - TYPOGRAPHY
==========================================================*/

@font-face {
  font-family: 'DragonisComing';
  src: url('../fonts/DragonisComing.eot'); /* IE9 Compat Modes */
  src: url('../fonts/DragonisComing.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/DragonisComing.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/DragonisComing.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/DragonisComing.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/DragonisComing.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'EverAfter';
  src: url('../fonts/EverAfter.eot'); /* IE9 Compat Modes */
  src: url('../fonts/EverAfter.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/EverAfter.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/EverAfter.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/EverAfter.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/EverAfter.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.7rem;
	color: #D5D6D6;
}

h2, h3, h4, h5, h6 .main-nav, .mobile-nav {
	font-family: 'Montserrat', sans-serif;
}

/*   1.1 - Headings  -------------------------------------*/

h1 span, h4, h6, .tagline {
	color: #F6921E
}

h1 {
	font-family: 'EverAfter';
	font-size: 8rem;
	line-height: 3.5rem;
	font-weight: 900;
	letter-spacing: .5rem;
}

h1 span {
	font-family: 'DragonisComing';
	font-weight: 100;
	font-size: 8rem;
	letter-spacing: normal;
}

.

/*   1.2 - Body Copy  ------------------------------------*/

.main-nav, .mobile-nav, h3, h4 {
	text-transform: uppercase;
}

.main-nav, .mobile-nav, #intro, #beers, #social {
	text-align: center;
}

/*   1.3 - Buttons  --------------------------------------*/

.button {
	border: thin solid #fff;
	margin: 20px 10px;
	padding: 4px 25px;
	text-transform: uppercase;
	text-decoration: none; 
	display:inline-block;
}

/*==========================================================
2.0 - NAVIGATION
==========================================================*/


/*   2.1 - Main Menu  ------------------------------------*/

a {
	text-decoration: none;
	padding: 0 2rem;
	color: #D5D6D6;
}

a:hover {
	transform: scale(1.1);
	color: gray;
	transition: all 0.6s;	
}

ul {
	list-style: none;
	font-size: .7rem;
}

nav {
	display: flex;
	padding: 6rem 10%;
	align-items: center;
	justify-content: space-between;
}

.logo:hover {
	transform: scale(1.1);
	transition: all 0.6s;	
}

.main-nav {
	display: flex;
}

.main-logo {

}

.mobile-nav {
	display: none;
}

.mobile-btn-wrapper {
	display: none;
}


/*   2.1 - Footer Menu  ----------------------------------*/


/*==========================================================
3.0 - CONTENT
==========================================================*/


/*   3.1 - Site Structure  -------------------------------*/

.hero, #social, #about, #contact {
	height: 100vh;
	min-height: 1000px;
}

#beers {
	height: 130vh;
	min-height: 1000px;
}

#intro, #beers, .title, #social, #contact, #about, #about > .container {
	justify-content: center;
}

.title {
	height: 800px;
	text-align: center;
}

#intro, #beers, .title, .beer-list, .list-item,
.hero > .conatiner, #intro .container, 
.column-left, .column-right, #about, #about > .container, #social, #contact  {
	display: flex;
}

#intro .container, .title, #social, #about, #contact, #map {
    align-items: center;     
}

.container {
	max-width: 1170px;
}


/*   3.2 - Section One  ----------------------------------*/

img {
	width: 100%;
}

/*   3.3 - Section Two  ----------------------------------*/


.column-left, .column-right, .hero > .conatiner,
#intro .container, .title {
	flex-direction: column;
}

.column-left > .list-item {
	padding: 40px 100px 40px 0px;
	text-align: right;
	max-width: 555px;
}

.column-right > .list-item {
	padding: 40px 0px 40px 100px;
	text-align: left;
	max-width: 555px;
}

.beer-container {
	max-width: 400px;
}

.list-item, #about > .container {
	flex-direction: row;
}


.col-1-2 {
	width: 50%;
}

.col-1-3 {
	width: 33%;
}

.second {
	order: 2;
}

.circle {
    width:50px;
    height: 50px;
    background: white;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;

    align-self: center;
}

/*==========================================================
4.0 - MEDIA
==========================================================*/

html { 
  background: url(../img/maybe-2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*==========================================================
5.0 - UTILITY
==========================================================*/

/*   5.1 - Background Colors  ----------------------------*/

/*   5.2 - Text Colors  ----------------------------------*/

/*   5.3 - Text Sizes  -----------------------------------*/

/*   5.4 - Alignments  -----------------------------------*/



.p-b-lg {
	padding: 25px 125px 150px 125px;
}

.p-t-lg {
	padding-top: 150px;
}

.p-lb-sm {
	padding: 25px 0px 0px 35px;
}

.p-lb-sm > .tagline {
	padding-top: 5px;
}




@media screen and (max-width: 800px) {
	.mobile-btn-wrapper {
		display: flex;
		justify-content: flex-end;
	}

	.mobile-btn-wrapper a {
		padding-right: 0px;
	}

	#beers {
		height: 230vh;
	}


	.col-1-2 {
		width: 100%;
	}

	.col-1-3 {
		width: 100%;
	}
	
	.main-nav {
		display: none;
	}

	.hero, #beers, #social, #about, #contact {
		display: block;
	}

	.beer-list, #contact, #about > .container {
		flex-direction: column;
	}

	.second {
		order: -1;
	}

	.column-left > .list-item {
		text-align: left;
	}

	.column-right > .list-item,
	.column-left > .list-item, .p-b-lg {
		padding-left: 20px;
		padding-right: 20px;
	}
}



































