@charset "utf-8";
/* CSS Document */

/*  DESCENDANT SELECETORS ARE THE WORST
	KEEP SELECTORS SHORT 
	FOCUS KEY SELECTOR FIRST
	FAVOR CLASSES
*/

/*============================================================
>>> TABLE OF CONTENTS:
==============================================================
1.0 - Typography
		1.1 - Headings
		1.2 - Body Copy
		1.3 - Buttons 
2.0 - Navigation Menus
		2.1 - Main Menu
		2.2 - Footer Menu
3.0 - Content
		3.1 - Site Structure
		3.2 - Section 
		3.3 - Section
4.0 - Media
5.0 - Utility
		5.1 - Background Colors
		5.2 - Text Colors
		5.3 - Text Sizes
		5.4 - Alignments
6.0 - Media Queries
===========================================================*/

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;	
	-ms-box-sizing: border-box;	
	-o-box-sizing: border-box;	
	box-sizing: border-box;	
}

html * {
  padding: 0;
  margin: 0;
}

/*==========================================================
1.0 - TYPOGRAPHY
==========================================================*/

@font-face {
  font-family: 'DragonisComing';
  src: url('../fonts/DragonisComing.eot'); /* IE9 Compat Modes */
  src: url('../fonts/DragonisComing.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/DragonisComing.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/DragonisComing.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/DragonisComing.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/DragonisComing.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'EverAfter';
  src: url('../fonts/EverAfter.eot'); /* IE9 Compat Modes */
  src: url('../fonts/EverAfter.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/EverAfter.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/EverAfter.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/EverAfter.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.8rem;
	font-size: 1rem;
}

h3, h4, .main-nav, .mobile-nav, .tagline {
	font-family: 'Montserrat', sans-serif;
}

/*   1.1 - Headings  -------------------------------------*/

h1 span, h4, .tagline, a:hover {
	color: #F6921E;
}

h1 {
	font-family: 'EverAfter';
	font-size: 10rem;
	line-height: 3.5rem;
	font-weight: 400;
	color: #D5D6D6;
	padding-top: 50px;
	margin-bottom: 150px; 
}

h1 span {
	font-family: 'DragonisComing';
	font-weight: 100;
	font-size: 8rem;
	letter-spacing: normal;
}

.kern {
	font-family: 'EverAfter';
	font-size: 10rem;
	font-weight: 400;
	color: #D5D6D6;
	padding-right: 5px;
}

h3 {
	font-size: 3.4rem;
	font-weight: 900;
	letter-spacing: .1rem;
	color: #D5D6D6;
}

h4, .mobile-nav li, .text a {
	font-weight: 900;
	letter-spacing: .2rem;
	padding-bottom: .5rem;
}

.tagline {
	font-size: 1rem;
	line-height: 1.9rem;
	letter-spacing: .1rem;
	padding: 2rem 0 2.5rem 0;
}

.mobile-nav {
	line-height: 1.5rem;
}

.mobile-nav li {
	font-size: .9rem;
}

/*   1.2 - Body Copy  ------------------------------------*/

.main-nav, .mobile-nav, h3, h4, header p {
	text-transform: uppercase;
}

.main-nav, .mobile-nav, #intro, #beers, #social, #contact, .modal-container {
	text-align: center;
}

/*   1.3 - Buttons  --------------------------------------*/

.button {
	border: thin solid #fff;
	margin: 20px 10px;
	padding: 4px 25px;
	text-transform: uppercase;
	text-decoration: none; 
	display:inline-block;
}

/*==========================================================
2.0 - NAVIGATION
==========================================================*/


/*   2.1 - Main Menu  ------------------------------------*/

a {
	text-decoration: none;
	padding: 0 2rem;
}

.social-nav a {
	padding: 0 .25rem 0 .25rem;
}

a:hover {
	transition: all 0.6s;	
}

.text > a {

	padding: 1.5rem 3rem;
}

ul {
	list-style: none;
	font-size: .7rem;
}

nav {
	display: flex;
	flex-wrap: wrap;
	padding: 1rem 10%;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	background-color: rgba(26,26,26,.95);
}

.logo {
	font-size: .6rem;
	font-weight: 700;
	font-family: 'EverAfter';
	line-height: .45rem;
	text-align: center;
	padding-top: 5.8px;
}

.logo a {
	padding: 0;
}

.logo:hover {
	transform: scale(1.1);
	transition: all 0.6s;	
}

.main-nav {
	display: flex;
	letter-spacing: .1rem;
}

.mobile-nav {
	display: none;
	width: 100%;
	height: 100vh;
	font-size: 2rem;
	line-height: 4rem;
}

.mobile-btn-wrapper {
	display: none;
}

/*   2.1 - Footer Menu  ----------------------------------*/

footer {
	width: 100%;
	background-color: rgba(26,26,26,.95);
	padding: 2rem 10%;
	align-items: center;
}

footer p {
	font-size: .5rem;
	text-align: center;
}
/*==========================================================
3.0 - CONTENT
==========================================================*/

/*   3.1 - Site Structure  -------------------------------*/

#intro {
	height: 100vh;
	min-height: 900px;
}

.hero, #about {
	height: 100vh;
	min-height: 800px;
}

#social {
	height: 100vh;
	min-height: 500px;
}

#beers, #contact {
	height: 110vh;
	min-height: 1000px;
}

.title {
	height: 1200px;
	text-align: center;
}

#intro, #beers, .title, .list-item,
.hero > .container, #intro .container, 
.column-left, .column-right, #about, #about > .container,
#social, #contact, .map, footer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.beer-list {
	display: flex;
	align-items: flex-start;
}

.container {
	max-width: 1170px;
}

#contact > div {
	width: 1170px;
}

/*   3.2 - Section One  ----------------------------------*/

img {
	width: 100%;
}

/*   3.3 - Section Two  ----------------------------------*/

.column-left, .column-right, .hero > .conatiner,
#intro .container, .title, #contact, .svg {
	flex-direction: column;
}

.column-left > .list-item {
	padding: 40px 30px 40px 0px;
	text-align: right;
	max-width: 555px;
}

.column-right > .list-item {
	padding: 40px 0px 40px 30px;
	text-align: left;
	max-width: 555px;
}

.beer-container {
	max-width: 400px;
}

.list-item, #about > .container {
	flex-direction: row;
}

.col-1-2 {
	width: 50%;
}

.txt-cntr {
	text-align: center;
}

.second {
	order: 2;
}

.circle {
    width:50px;
    height: 50px;
    background: white;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;

    align-self: center;
}

.svg {
	width: 110px;
	height: 110px;
	padding: 10px 25px;
	display: flex;
	align-self: flex-start;
}

#social > div {
	width: 1000px;
}

.snapwidget-widget {
}

.small {
	display: none;
}

/*   3.4 - Contact Section  ------------------------------*/

#map {
	width: 1170px;
	height: 500px;
	margin-bottom: 100px;
}

#map img {  
    max-width: none;   
} 

.row {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.title > .row {
	width: 550px;
	padding-top: 50px;
}

.border-sides {
	padding: 0px 12%;
	border-style: thin;
	border-left: 1px solid #A9AAAB;
	border-right: .1px solid #A9AAAB;
	border-top: none;
	border-bottom: none;
}

#contact > .container {
	margin-top: 150px;
}

/*   3.5 - Popup Modal  ------------------------------*/

.modal-container{
	position: fixed;
	height: 100vh;
	width: 100vw;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	top: -100%;
}

.modal-animation {
	animation: modal 3s forwards;
	animation-delay: 2s;
	z-index: 1000;
}

.modal-bkg-overlay {
	position: absolute;
	height: 100%;
	width: 100%;

	background-color: rgba(26,26,26,.95);
	opacity: .7;
}

.modal-content {
	position: relative;
	z-index: 3;
	height: 300px;
	width: 300px;
	background-color: rgba(26,26,26,.95);
	border: solid 3px #F6921E;
	padding: 1.5rem .5rem .5rem .5rem;


  	font-family: 'Montserrat';
  	font-size: 14px;
  	letter-spacing: 1px;
  	line-height: 28px;

}

@keyframes modal {
	0%{top: -100%}
	100%{top: 0}
}

button {
	border: thin solid #fff;
	margin: 20px 10px 5px 10px;
	padding: 15px 50px;
	text-transform: uppercase;
	text-decoration: none; 
	display:inline-block;
	font-family: 'Montserrat';
  	font-size: 14px;
  	letter-spacing: 1px;
  	line-height: 28px;
}

button:nth-of-type(2){
padding: 15px 20px;
}

button:first-of-type:hover {
	color: #006600;
}

button a:hover {
	color: #990000;
}

button a {
	text-transform: uppercase;
	text-decoration: none; 
	display:inline-block;
	font-family: 'Montserrat';
  	font-size: 14px;
  	letter-spacing: 1px;
  	line-height: 28px;
  	color: rgba(26,26,26,.95);
}
/*==========================================================
4.0 - MEDIA
==========================================================*/

html { 
  background: url(../img/hero-bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.svg-wrapper {
  height: 30px;
    margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 250px;
}

.shape {
  fill: transparent;
  stroke-dasharray: 150 540;
  stroke-dashoffset: -352;
  stroke-width: 1px;
  stroke: #A9AAAB;
}

.text {
  color: #A9AAAB;
  font-family: 'Montserrat';
  font-size: 15px;
  letter-spacing: 2px;
  line-height: 32px;
  position: relative;
  top: -50px;
}

@keyframes draw {
  0% {
    stroke-dasharray: 150 540;
    stroke-dashoffset: -352;
    stroke-width: 1px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 1px;
  }
}

.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}

/*==========================================================
5.0 - UTILITY
==========================================================*/

/*   5.1 - Background Colors  ----------------------------*/

/*   5.2 - Text Colors  ----------------------------------*/

body, a {
	color: #A9AAAB;
}

/*   5.3 - Text Sizes  -----------------------------------*/

/*   5.4 - Alignments  -----------------------------------*/

.p-b-lg {
	padding: 25px 125px 150px 125px;
}

.p-b-md {
	padding-bottom: 100px;
}

.p-b-sm {
	padding-bottom: 25px;
}

.p-t-lg {
	padding-top: 150px;
}

.p-lb-sm {
	padding: 25px 0px 0px 35px;
}

.p-lb-sm > .tagline {
	padding-top: 5px;
}

/*==========================================================
6.0 - MEDIA QUERIES
==========================================================*/

@media screen and (max-width: 1200px) {
	#contact > div {
		max-width: 90vw;
	}
	
	#contact {
		height: 100vh;
		min-height: 1366px;
	}

	
	#about {
		height: 50vh;
		min-height: 690px;
	}
	
	#social {
		height: 80vh;
		min-height: 690px;
	}
	
	#beers {
		height: 100vh;
		min-height: 1366px;
	}
	
	.border-sides {
		padding: 0px 9%;
	}
	
	#social > div {
		width: 85%;
	}
	
	.copy {
		font-size: 1.3vw;
	}
}

	






@media screen and (max-width: 900px) {

	#contact > div {
		max-width: 90vw;
	}
	
	.border-sides {
		padding: 0px 6%;
	}
	


}

@media screen and (max-width: 800px) {
	
	#contact {
		height: 100vh;
		min-height: 1024px;
	}
	
	#contact > .container {
		margin-top: 75px;
	}

	
	#about {
		height: 120vh;
		min-height: 1200px;
	}
	
	#social {
		height: 95vh;
		min-height: 710px;
	}
	
	#beers {
		height: 120vh;
		min-height: 1824px;
	}

	
	p, .txt-cntr {
		font-size: 2vw;
		line-height: 1.6rem;
	}

	.main-nav {
		flex-direction: column;
	}
	
	h1, .kern {
		font-size: 5rem;
		margin-bottom: 100px;
	}
	
	.title > .row {
		width: 100%;	
		
	}

	.mobile-nav {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	#contact > .container {
		max-width: 300px;
	}

	img {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	h1 span {
		font-size: 5rem;
		letter-spacing: normal;
	}

	.hero, #intro {
		max-height: 100vh;
	}

	.title {
		height: 100vh;
		min-height: 800px;
	}

	.title > .row {
		padding-top: 0px;
	}

	.mobile-btn-wrapper {
		display: flex;
		justify-content: flex-end;
	}

	nav {
		padding: 1rem 10%;
	}

	.mobile-btn-wrapper a {
		padding-right: 0px;
	}

	.svg {
		padding-left: 0px;
	}

	.col-1-2 {
		width: 100%;
	}
	
	.main-nav {
		display: none;
	}

	.hero, #beers, #about {
		display: block;
	}

	.beer-list, #about > .container, .row {
		flex-direction: column;
	}

	.row > div {
		padding: 35px 0px;
	}

	.beer-container {
		max-width: 365px;
	}

	.border-sides {
		border-style: none;
	}

	.second {
		order: -1;
	}

	.column-left > .list-item {
		text-align: left;
	}

	.column-right > .list-item,
	.column-left > .list-item,
	.p-b-lg, img, header > p, 
	#about p, .tagline {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	#contact > div {
		max-width: 90vw;
	}
	
	.copy {
		font-size: 1.6vw;
	}

	
	
}

@media screen and (max-width: 600px) {
	.large {
		display: none;
	}
	
	.small {
		display: flex;
	}

	
}


@media screen and (max-width: 500px) {
	
	#contact {
		height: 130vh;
		min-height: 736px;
	}
	
	#contact > .container {
		margin-top: 75px;
	}

	
	#about {
		height: 130vh;
		min-height: 536px;
		max-height: 7800px;
	}
	
	#social {
		height: 160vh;
		min-height: 510px;
	}
	
	#beers {
		height: 270vh;
		min-height: 736px;
		max-height: 2200px;
	}

	#contact > div {
		max-width: 90vw;
	}
	
	p, .txt-cntr {
		font-size: 3.5vw;
		line-height: 1.6rem;
	}
	
	#contact .row > div {
		padding: 25px 0px;
	}
	
	.copy, h4 {
		font-size: 3.1vw;
	}

		


}


@media screen and (max-width: 400px) {

	#contact {
		height: 130vh;
		min-height: 736px;
	}
	
	#contact > .container {
		margin-top: 75px;
	}

	
	#about {
		height: 130vh;
		min-height: 736px;
		max-height: 1150px;
	}
	
	#social {
		height: 170vh;
		min-height: 580px;
	}
	
	#beers {
		height: 290vh;
		min-height: 736px;
		max-height: 2200px;
	}

	#contact > div {
		max-width: 90vw;
	}
	
	p, .txt-cntr {
		font-size: 3.5vw;
		line-height: 1.4rem;
	}

	.hero {
		min-height: 667px;
	}

	.title {
		min-height: 800px;
	}

	#contact > .container {
		margin-top: 100px;
	}

	.row > div {
		padding: 30px 0px;
	}

	h1, .kern {
		font-size: 5rem;
		padding-top: 0px;
		margin-bottom: 55px;
		margin-top: -100px;
		line-height: 2rem;
	}

	h1 span {
		font-size: 4rem;
		line-height: 3rem;
	}

	#intro {
		min-height: 105vh;
	}
	
	.copy, h4 {
		font-size: 3.1vw;
	}

	

}



@media screen and (max-width: 330px) {


	#contact {
		height: 210vh;
		min-height: 568px;
	}
	
	#contact > .container {
		margin-top: 25px;
	}

	
	#about {
		height: 110vh;
		min-height: 590px;
	}
	
	#social {
		height: 70vh;
		min-height: 490px;
	}
	
	#beers {
		height: 390vh;
		min-height: 736px;
	}

	#contact > div {
		max-width: 90vw;
	}
	
	p, .txt-cntr {
		font-size: 4vw;
		line-height: 1.4rem;
	}

	.hero {
		min-height: 667px;
	}

	.title {
		min-height: 800px;
	}

	#intro {
		min-height: 100vh;
	}

	.p-b-lg {
		padding-bottom: 100px;
	}
	
	.copy, h4 {
		font-size: 3.3vw;
	}




}











